body {
    font-family: Arial, sans-serif;
    margin: 0em;
    background-color: #f4f4f4;
}

header {
    background-image: url(../images/Pavement.jpg);
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 1em;
    height: auto; 
    position: relative;
}

nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        padding: 0.5em 0; 
        width: 100%; 
        position: static; 
    }

nav a {
    line-height: 40px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0 20px; 
    font-size: 1.3rem; 
}

nav a:hover {
    color: #333;
    background-color: white;
}
#Header-Text {
    text-align: center;
    margin: 0.5em 0; 
    font-size: 3rem !important;
    flex: none; 
    

}