
#Contact-me {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin-bottom: 3rem;
}
h2 {
    text-align: center;
    margin: 2em 0;
    font-size: 2rem !important;
    color: #555; 
    font-family: 'Arial', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em; 
    margin: 3em auto; 
    width: 50%; 
    padding: 2em; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

form input, form textarea {
    width: 100%;
    padding: 0.8em;
    font-size: 1rem;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    font-family: 'Arial', sans-serif;
}

form input:focus, form textarea:focus {
    border-color: #007BFF; 
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

form textarea {
    height: 10em;
    resize: vertical; 
}